
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    /* THUMB */
        .thumbSoloContainer {
            height: 400px;
            width: 100%;
            border: 1px solid #666666;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .thumbSoloImage {
            max-height: 250px;
            min-height: 250px;
        }

        .thumbSoloTitle {
            font-family: 'Poppins SemiBold';
            font-size: 35px;
            color: #717171;
            margin-top: 7px;
        }

        .thumbSoloDesc {
            font-family: 'Poppins SemiBold';
            font-size: 25px;
            color: #717171;
        }


    /* THUMB */

    /* TITLE OF THE SOLO */
        .soloTitle {
            font-size: 45px;
            font-family: 'Poppins SemiBold';
            color: #313131;
        }
    /* TITLE OF THE SOLO */

    /* SOLO ARTICLE CLASSES */
        .articleTitle {
            font-size: 30px;
            font-family: 'Poppins SemiBold';
            color: #313131;
        }

        .articleImage {
            max-height: 600px;
            min-height: 400px;
            text-align: center;
        }

        .articleDate {
            color: #0099CC;
            font-size: 'Poppins SemiBold';
        }
    /* SOLO ARTICLE CLASSES */

    /* WORDPRESS CONTENT */
        .wordpressData {
            color: #545454;
            font-size: 15px;
            font-family: 'Poppins Light';
        }
    /* WORDPRESS CONTENT */

    /* LATEST NEWS */
        .newsImage {
            max-height: 200px;
            min-height: 200px;
        }

        .newsCategory {
            color: #0099CC;
            font-size: 15px;
            font-family: 'Poppins SemiBold';
        }

        .newsTitle {
            font-family: 'Poppins SemiBold';
        }
    /* LATEST NEWS */
    
   
}




