/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .news-big-img {
        position: relative;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
      
    .news-big-img .content {
        position: absolute; /* Position the background text */
        bottom: 0; /* At the bottom. Use top:0 to append it to the top */
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: white; /* Grey text */
        width: 95%; /* Full width */
        padding: 10px/* Some padding */
    }

    .news-big-img .content h3 {
        font-size: 15px;
    }

    .news-big-img .content p {
        font-size: 15px;
    }

    .sectionTitleContainer {
        padding-top: 15px;
        padding-bottom: 15px; 
        padding-left: 30px;
        padding-right: 30px;
        background-color: black;
        display: flex;
        justify-content: center;    
    }

    .sectionTitle {
        color: #fff;
        font-family: 'Poppins Bold';
        font-size: 20px;
        text-align: 'center';
    }

    .titleSeperator {
        border-color: black; 
        margin-top: -2px;
        border-width: 3px;
        margin-bottom: 30px; 
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .news-big-img {
        position: relative;
    }
      
    .news-big-img .content {
        position: absolute; /* Position the background text */
        bottom: 0; /* At the bottom. Use top:0 to append it to the top */
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: white; /* Grey text */
        width: 100%; /* Full width */
        padding: 7px; /* Some padding */
    }

    .news-big-img .content h3 {
        padding : 5px;
        font-size: 25px;
    }

    .news-big-img .content p {
        font-size: 15px;
    }

    .sectionTitleContainer {
        padding-top: 15px;
        padding-bottom: 15px; 
        padding-left: 30px;
        padding-right: 30px;
        background-color: black;
        display: flex;
        justify-content: center;    
    }

    .sectionTitle {
        color: #fff;
        font-family: 'Poppins Bold';
        font-size: 20px;
        text-align: 'center';
    }

    .titleSeperator {
        border-color: black; 
        margin-top: -2px;
        border-width: 3px;
        margin-bottom: 30px; 
        width: 100%;
    }
    
}
