.searchIcon {
  margin-left: 10px;
}

.searchIcon:hover {
  margin-left: 10px;
  cursor: pointer;
  color : #0099CC;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.logoMobile {
  display: none;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Extra small devices  */
@media (max-width: 575px) {  
  .menuWeb {
    display: none;
  }

  .logoWeb {
    display: none;
  }


  .logoMobile {
    display: inline;
  }

  .menuMobile {
    display : inline;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .menuWeb {
    display: none;
  }

  .logoWeb {
    display: none;
  }


  .logoMobile {
    display: inline;
  }

  .menuMobile {
    display : inline;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .menuWeb {
    display: none;
  }

  .logoWeb {
    display: none;
  }


  .logoMobile {
    display: inline;
  }

  .menuMobile {
    display : inline;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .menuWeb {
    display: inline;
  }

  .logoWeb {
    display: none;
  }


  .logoMobile {
    display: inline;
  }

  .menuMobile {
    display : none;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .menuWeb {
    display: inline;
  }
  
  .logoWeb {
    display: inline;
  }

  .menuMobile {
    display : none;
  }

  .logoMobile {
    display: none;
  }

}


